<template>
  <app-layout>
      <template #header>
          <h2 class="font-semibold text-xl text-gray-800 leading-tight">
              Posts
          </h2>
      </template>
      <div class="p-16 pt-5">
        <div class="ml-5">
            <Link :href="route('users')">
              <jet-button>
                Back to users
              </jet-button>
            </Link>
        </div>
        <div class="grid md:grid-cols-2 sm:grid-cols-1 lg:grid-cols-3 m-5 mb-10">
          <div class="bg-white overflow-hidden hover:bg-green-100 border border-gray-200 p-3" v-for="post in posts" :key="post.id">
              <div class="m-2 text-justify text-sm">
                  <p class="text-right text-xs">{{ post.created_at }}</p>
                  <h2 class="font-bold text-lg h-2 mb-12">{{ post.title }} </h2>
                  <p class="text-xs">
                    {{ post.body }}
                  </p>

              </div>
              <div class="w-full text-right mt-4">
                <a class="text-green-400 uppercase font-bold text-sm" href="#"></a>
              </div>
          </div>
        </div>
      </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import { Link } from '@inertiajs/inertia-vue3'
import JetButton from '@/Jetstream/Button.vue'

export default {
  props: {
    posts: Array,
  },
  components: {
    AppLayout,
    Link,
    JetButton,
  },
};
</script>