<template>
  <app-layout>
      <template #header>
          <h2 class="font-semibold text-xl text-gray-800 leading-tight">
              Users
          </h2>
      </template>
      <div class="">
        <div class="overflow-x-auto">
          <div class="min-w-screen min-h-screen bg-gray-100 flex items-center justify-center bg-gray-100 font-sans overflow-hidden">
              <div class="w-full lg:w-5/6">
                  <div class="bg-white shadow-md rounded my-6">
                      <table class="min-w-max w-full table-auto">
                          <thead>
                              <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                  <th class="py-3 px-6 text-left">Name</th>
                                  <th class="py-3 px-6 text-left">Email</th>
                                  <th class="py-3 px-6 text-center">Address</th>
                                  <th class="py-3 px-6 text-center">Phone</th>
                                  <th class="py-3 px-6 text-center">Website</th>
                              </tr>
                          </thead>
                          <tbody class="text-gray-600 text-sm font-light">
                              <tr class="border-b border-gray-200 hover:bg-gray-100"
                                v-for="user in users" :key="user.id"
                              >
                                  <td class="py-3 px-6 text-left whitespace-nowrap">
                                      <div class="flex items-center">
                                          <span class="font-medium">{{user.name}}</span>
                                      </div>
                                  </td>
                                  <td class="py-3 px-6 text-left">
                                      <div class="flex items-center">
                                          <div class="mr-2">
                                              <img class="w-6 h-6 rounded-full" src="https://randomuser.me/api/portraits/men/1.jpg"/>
                                          </div>
                                          <span>{{user.email}}</span>
                                      </div>
                                  </td>
                                  <td class="py-3 px-6 text-center">
                                      <div class="flex items-center justify-center">
                                          <span>{{user.address}}</span>
                                      </div>
                                  </td>
                                  <td class="py-3 px-6 text-center">
                                      <span v-if="user.phone" class="bg-purple-200 text-purple-600 py-1 px-3 rounded-full text-xs">{{user.phone}}</span>
                                  </td>
                                  <td class="py-3 px-6 text-center">
                                      <div v-if="user.phone" class="flex item-center justify-center text-xs">
                                          <div class="w-4 mr-2 transform hover:text-purple-500 hover:scale-110">
                                              <Link :href="route('users.posts', user.id)">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                </svg>
                                                <span>View posts</span>
                                              </Link>
                                          </div>
                                      </div>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <span>
                    <span class="text-green-500 dark:text-green-200">
                      {{users.length}}
                    </span>
                    users
                  </span>
              </div>
          </div>
        </div>
      </div>

  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import { Link } from '@inertiajs/inertia-vue3'

export default {
  props: {
    users: Array,
  },
  components: {
    AppLayout,
    Link,
  },
};
</script>